// COLORS
$yellow: #F3F122;
$black: #363636;
$grey: #797979;
$light-grey: #ECECEC;
$white: #FFFFFF;

// FONTS
$font: "Exo", sans-serif;

// BREAKPOINT
$mobile: 1080px;

// IMPORTS
@import 'pages/home';
@import 'pages/sobre';
@import 'pages/produtos';
@import 'pages/produto';
@import 'pages/contato';
@import 'pages/carrinho';
@import 'pages/checkout';
@import 'pages/acesso';
@import 'pages/logado';

// RESETS
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: unset;
    box-sizing: border-box;
    font-family: $font;
    color: $black;
}

::selection {
    background: $yellow;
    color: $black;
}

html {
    overflow-x: hidden;
}

html,
body {
    scroll-behavior: smooth;
    &.o-hidden {
        overflow: hidden;
    }
}

body > main {
    padding: 176px 0 0 0;
    @media screen and (max-width: $mobile) {
        padding: 133px 0 0 0;
    }
}

h1 {
    font: 700 40px/140% $font;
    @media screen and (max-width: $mobile) {
        font-size: 36px;
    }
}

h2 {
    font: 700 36px/140% $font;
    text-transform: uppercase;
    @media screen and (max-width: $mobile) {
        font-size: 30px;
    }
}

h3 {
    font: 700 30px/140% $font;
    @media screen and (max-width: $mobile) {
        font-size: 26px;
    }
}

h4 {
    font: 700 24px/140% $font;
    @media screen and (max-width: $mobile) {
        font-size: 20px;
    }
}

h5 {
    font: 700 20px/140% $font;
    @media screen and (max-width: $mobile) {
        font-size: 18px;
    }
}

h6 {
    font: 700 18px/140% $font;
    @media screen and (max-width: $mobile) {
        font-size: 16px;
    }
}

p {
    font: 300 16px/170% $font;
    @media screen and (max-width: $mobile) {
        font-size: 14px;
    }
    a {
        font-weight: 700;
        transition: 400ms ease;
        &:hover {
            text-decoration: underline;
        }
    }
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="number"],
textarea,
select,
option {
    display: block;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font: 600 15px/1 $font;
    transition: 400ms ease;
    appearance: unset;
    resize: none;
    border-radius: 1000px;
    background: $white;
    border: 1px solid $light-grey;
    @media screen and (max-width: $mobile) {
        height: 40px;
    }
    &::placeholder {
        opacity: .64;
        font-weight: 400;
        color: $grey;
    }
    &:focus,
    &:hover {
        border-color: $yellow;
    }
}

fieldset {
    &:not(:last-of-type) {
        margin: 0 0 20px 0;
    }
    & > label {
        text-transform: uppercase;
        display: block;
        margin: 0 0 12px 0;
        font: 600 15px/1 $font;
        span {
            color: #F61111;
        }
    }
}

textarea {
    border-radius: 24px;
    padding-top: 20px;
    height: 150px;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

strong {
    font-weight: 700;
}

// CONTAINER
.container {
    max-width: calc(1130px + 96px);
    width: 100%;
    padding: 0 48px;
    margin: 0 auto;
    @media screen and (max-width: $mobile) {
        padding: 0 20px;
    }
}

// STYLES
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    z-index: 999;
    a {
        transition: 400ms ease;
    }
    &.fixed {
        .navbar__top {
            padding: 8px 0;
            @media screen and (max-width: $mobile) {
                padding: 12px 0;
            }
        }
        .navbar__logo {
            img {
                max-width: 190px;
                @media screen and (max-width: $mobile) {
                    max-width: 160px;
                }
            }
        }
    }
    &.logado {
        .navbar__acesso {
            display: none;
        }
        .navbar__conta {
            display: flex;
        }
    }
    &.open {
        .navbar__nav {
            opacity: 1;
            visibility: visible;
            transform: unset;
        }
        .navbar__icon {
            background: $white;
            &::before,
            &::after {
                width: 100%;
            }
            &::before {
                transform: translateY(7px) rotate(-45deg);
            }
            &::after {
                transform: translateY(-7px) rotate(45deg);
            }
        }
    }
    &__top {
        padding: 16px 0;
        transition: 400ms ease;
        @media screen and (max-width: $mobile) {
            padding: 12px 0;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__dir {
            display: flex;
            align-items: center;
            .navbar__media {
                @media screen and (max-width: $mobile) {
                    display: none;
                }
            }
        }
    }
    &__busca {
        position: relative;
        max-width: 350px;
        width: 100%;
        @media screen and (max-width: $mobile) {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            max-width: 100%;
            padding: 0 20px 12px 20px;
            background: $white;
        }
        input {
            background: #F8F8F8;
            border-color: #F8F8F8;
            height: 42px;
            padding-left: 56px;
            @media screen and (max-width: $mobile) {
                height: 36px;
                font-size: 14px;
                padding-left: 48px;
            }
        }
        button {
            position: absolute;
            top: 0;
            left: 0;
            @media screen and (max-width: $mobile) {
                top: 0;
                left: 20px;
                width: 36px;
            }
        }
    }
    &__icon {
        background: $black;
        width: 24px;
        height: 2px;
        position: relative;
        transition: 400ms ease;
        display: none;
        @media screen and (max-width: $mobile) {
            display: block;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: 2px;
            background: $black;
            transition: 400ms ease;
        }
        &::before {
            top: -7px;
        }
        &::after {
            bottom: -7px;
        }
    }
    &__media {
        display: flex;
        align-items: center;
        margin: 0 0 0 42px;
        @media screen and (max-width: $mobile) {
            margin: 24px 0 0 0;
        }
        a {
            display: block;
            &:hover {
                opacity: .8;
            }
            &:not(:last-of-type) {
                margin: 0 12px 0 0;
            }
        }
    }
    &__acesso {
        span {
            display: block;
            font: 400 14px/140% $font;
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
        & > a {
            display: none;
            @media screen and (max-width: $mobile) {
                display: block;
                width: 36px;
            }
        }
    }
    &__conta {
        display: none;
        align-items: center;
        & > a {
            display: block;
            margin: 0 16px 0 0;
            @media screen and (max-width: $mobile) {
                width: 36px;
                margin: 0;
            }
        }
        aside {
            @media screen and (max-width: $mobile) {
                display: none;
            }
            p {
                font-weight: 400;
            }
            div {
                margin: 2px 0 0 0;
                display: flex;
                align-items: center;
                a {
                    display: block;
                    font: 700 14px/1 $font;
                    &:hover {
                        text-decoration: underline;
                    }
                    &:last-of-type {
                        margin: 0 0 0 8px;
                        color: #F42F1A;
                    }
                }
            }
        }
    }
    &__carrinho {
        position: relative;
        margin: 0 0 0 32px;
        @media screen and (max-width: $mobile) {
            margin: 0 0 0 12px;
        }
        span {
            width: 28px;
            height: 28px;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(56%, -56%);
            font: 700 12px/1 $font;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1000px;
            background: $yellow;
            z-index: 1;
            @media screen and (max-width: $mobile) {
                font-size: 11px;
                width: 25px;
                height: 25px;
            }
        }
        img {
            position: relative;
            z-index: 5;
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            transition: 400ms ease;
            @media screen and (max-width: $mobile) {
                max-width: 160px;
                transform: translateX(10px);
            }
            @media screen and (max-width: 330px) {
                transform: unset;
            }
        }
    }
    &__nav {
        border-top: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
        @media screen and (max-width: $mobile) {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 85px);
            border: unset;
            background: rgba(0, 0, 0, .5);
            z-index: 9;
            transition: 400ms ease;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            transform: translateX(-100%);
        }
        .container {
            @media screen and (max-width: $mobile) {
                padding: 0;
                height: 100%;
            }
        }
        &__links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            position: relative;
            @media screen and (max-width: $mobile) {
                background: $white;
                width: 100%;
                display: block;
                padding: 0 20px;
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
            }
            li {
                @media screen and (min-width: 1080px) {
                    &:hover {
                        & > a {
                            color: $black;
                            &::after {
                                opacity: 1 !important;
                                visibility: visible !important;
                            }
                        }
                        article {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(100%);
                        }
                    }
                }
                &:first-of-type {
                    & > a {
                        padding-right: 24px;
                        color: $black;
                        display: flex;
                        align-items: flex-start;
                        &::before {
                            content: url("../assets/departamentos.svg");
                            margin: 0 12px 0 0;
                            height: 22px;
                            @media screen and (max-width: $mobile) {
                                display: none;
                            }
                        }
                        &::after {
                            content: "";
                            height: 22px;
                            width: 1px;
                            background: $light-grey;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            @media screen and (max-width: $mobile) {
                                display: none;
                            }
                        }
                    }
                }
                &:last-of-type {
                    a {
                        color: $black;
                        font-weight: 600;
                    }
                }
                &:not(:first-of-type) {
                    & > a {
                        &::after {
                            content: "";
                            height: 2px;
                            width: 100%;
                            display: block;
                            background: $yellow;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            border-radius: 100px 100px 0 0;
                            transition: 400ms ease;
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
                & > a {
                    display: block;
                    padding: 12px 0;
                    color: $grey;
                    font: 500 16px/140% $font;
                    position: relative;
                    @media screen and (max-width: $mobile) {
                        color: $black;
                    }
                }
                article {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    transform: translateY(110%);
                    transition: 200ms ease;
                    background: $white;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 32px;
                    border-radius: 0px 0px 16px 16px;
                    box-shadow: 0 0 40px rgba(0, 0, 0, .04);
                    opacity: 0;
                    visibility: hidden;
                    @media screen and (max-width: $mobile) {
                        padding: 0 20px;
                        display: block;
                        transition: 400ms ease;
                        height: 100%;
                        overflow-y: auto;
                        transform: translateX(100%);
                        top: 0;
                        background: $white;
                        border-radius: 0;
                        box-shadow: unset;
                        z-index: 9;
                        &.open {
                            transform: unset !important;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    button {
                        display: none;
                        @media screen and (max-width: $mobile) {
                            display: block;
                            margin: 0 0 16px 0;
                        }
                    }
                    aside {
                        width: 100%;
                        h5 {
                            font-weight: 600;
                            margin: 0 0 24px 0;
                            @media screen and (max-width: $mobile) {
                                margin: 0 0 16px 0;
                            }
                        }
                        section {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 24px;
                            @media screen and (max-width: $mobile) {
                                display: block;
                            }
                            a {
                                color: $grey;
                                font: 400 15px/20px $font;
                                display: block;
                                @media screen and (max-width: $mobile) {
                                    padding: 14px 0;
                                    border-bottom: 1px solid $light-grey;
                                }
                                &:hover {
                                    color: $black;
                                }
                            }
                        }
                    }
                    & > img {
                        max-width: 320px;
                        width: 100%;
                        max-height: 260px;
                        border-radius: 16px;
                        margin: 0 0 0 64px;
                        @media screen and (max-width: $mobile) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    margin: calc(144px + 116px) 0 0 0;
    @media screen and (max-width: $mobile) {
        margin: 80px 0 0 0;
    }
    &__contato {
        border-radius: 32px;
        background: $yellow;
        display: flex;
        align-items: flex-end;
        position: relative;
        margin: 0 0 144px 0;
        @media screen and (max-width: $mobile) {
            margin: 0 0 80px 0;
            flex-direction: column-reverse;
        }
        img {
            margin: -116px 0 0 0;
            @media screen and (max-width: $mobile) {
                margin: 0;
            }
        }
        aside {
            padding: 80px 64px;
            position: relative;
            z-index: 5;
            @media screen and (max-width: $mobile) {
                padding: 40px 20px;
            }
            h2 {
                text-transform: initial;
                margin: 0 0 20px 0;
                font-weight: 400;
                @media screen and (max-width: $mobile) {
                    margin: 0 0 12px 0;
                    font-size: 24px;
                }
            }
            p {
                font-size: 18px;
                margin: 0 0 40px 0;
                @media screen and (max-width: $mobile) {
                    margin: 0 0 24px 0;
                    font-size: 16px;
                }
            }
            section {
                display: flex;
                align-items: center;
                @media screen and (max-width: $mobile) {
                    display: block;
                }
                a {
                    padding: 0 32px;
                    @media screen and (max-width: $mobile) {
                        width: 100%;
                    }
                    &:first-of-type {
                        &:hover {
                            background: $black;
                            color: $white;
                        }
                        &::before {
                            content: url("../assets/whatsapp-white.svg");
                            margin: 0 10px 0 0;
                        }
                    }
                    &:not(:last-of-type) {
                        margin: 0 24px 0 0;
                        @media screen and (max-width: $mobile) {
                            margin: 0 0 16px 0;
                        }
                    }
                }
            }
        }
        &::before {
            content: url("../assets/graph-contato.svg");
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
    }
    &__content {
        &__header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media screen and (max-width: $mobile) {
                display: block;
            }
            &__logo {
                p {
                    margin: 32px 0;
                    @media screen and (max-width: $mobile) {
                        margin: 24px 0;
                    }
                }
                section {
                    display: flex;
                    align-items: center;
                    h6 {
                        margin: 0 16px 0 0;
                        font: 600 16px/1 $font;
                    }
                    a {
                        display: block;
                        transition: 400ms ease;
                        &:hover {
                            opacity: .8;
                        }
                        &:not(:last-of-type) {
                            margin: 0 12px 0 0;
                        }
                    }
                }
            }
            &__links {
                @media screen and (max-width: $mobile) {
                    margin: 48px 0;
                }
                h5 {
                    text-transform: uppercase;
                    margin: 0 0 32px 0;
                    font: 700 18px/1 $font;
                    @media screen and (max-width: $mobile) {
                        margin: 0 0 24px 0;
                    }
                }
                a {
                    font: 500 18px/1 $font;
                    display: block;
                    transition: 400ms ease;
                    @media screen and (max-width: $mobile) {
                        font-size: 16px;
                    }
                    &:hover {
                        opacity: .8;
                    }
                    &:not(:last-of-type) {
                        margin: 0 0 24px 0;
                        @media screen and (max-width: $mobile) {
                            margin: 0 0 16px 0;
                        }
                    }
                }
            }
            &__dir {
                max-width: 335px;
                width: 100%;
                & > a {
                    display: flex;
                    align-items: center;
                    &:hover {
                        div {
                            p {
                                opacity: .8;
                            }
                        }
                    }
                    img {
                        margin: 0 16px 0 0;
                    }
                    div {
                        h5 {
                            margin: 0 0 2px 0;
                            text-transform: uppercase;
                            font: 600 16px/1 $font;
                        }
                        p {
                            transition: 400ms ease;
                            display: block;
                        }
                    }
                }
                section {
                    margin: 48px 0 0 0;
                    @media screen and (max-width: $mobile) {
                        margin: 32px 0 0 0;
                    }
                    .button {
                        width: 100%;
                        &:not(:last-of-type) {
                            margin: 0 0 24px 0;
                            @media screen and (max-width: $mobile) {
                                margin: 0 0 16px 0;
                            }
                        }
                    }
                }
            }
        }
        &__bandeiras {
            padding: 32px 0;
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 64px 0 0 0;
            @media screen and (max-width: $mobile) {
                display: block;
                margin: 40px 0 0 0;
            }
            h6 {
                text-transform: uppercase;
                font: 700 18px/1 $font;
                white-space: nowrap;
                @media screen and (max-width: $mobile) {
                    font-size: 16px;
                    margin: 0 0 24px 0;
                    width: 100%;
                }
            }
            aside {
                display: flex;
                align-items: center;
                gap: 16px;
                @media screen and (max-width: $mobile) {
                    flex-wrap: wrap;
                    gap: 8px;
                }
            }
        }
        &__bottom {
            padding: 32px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: $mobile) {
                padding: 24px 0;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
            }
            h6 {
                color: $grey;
                font: 300 14px/170% $font;
                display: flex;
                align-items: center;
                a {
                    display: block;
                    margin: 0 0 0 12px;
                }
            }
        }
    }
}

.select {
    position: relative;
    &::after {
        content: url("../assets/arrow-select.svg");
        position: absolute;
        bottom: 12px;
        height: 24px;
        right: 20px;
    }
}

.cookies {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 16px 0;
    background: $white;
    z-index: 999;
    transition: 400ms ease;
    box-shadow: 0px -8px 32px rgba(0, 0, 0, .04);
    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $mobile) {
            display: block;
        }
        p {
            width: 100%;
            max-width: 700px;
            @media screen and (max-width: $mobile) {
                font: 400 14px/20px $font;
                margin: 0 0 16px 0;
            }
            a {
                font-weight: 700;
            }
        }
        button {
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }
    }
}

.button {
    background: $yellow;
    border: 1px solid $yellow; 
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 46px;
    font: 700 16px/1 $font;
    text-align: center;
    text-transform: uppercase;
    padding: 0 48px 2px 48px;
    border-radius: 1000px;
    transition: 400ms ease;
    &:hover {
        background: $white;
        border-color: $black;
        color: $black;
    }
    &--black {
        border-color: $black;
        background: $black;
        color: $white;
    }
    &--outline {
        background: unset;
        border-color: $black;
        &:hover {
            background: $black;
            color: $white;
        }
    }
    &--grey {
        border-color: $light-grey;
        background: $light-grey;
    }
}

.title-sec {
    margin: 0 0 48px 0;
    @media screen and (max-width: $mobile) {
        margin: 0 0 32px 0;
    }
    h2 {
        display: flex;
        align-items: center;
        @media screen and (max-width: $mobile) {
            font-size: 28px;
        }
        &::after {
            content: "";
            display: block;
            margin: 0 0 0 24px;
            width: 12px;
            border-radius: 1000px;
            height: 12px;
            background: $yellow;
            @media screen and (max-width: $mobile) {
                margin: 0 0 0 12px;
                width: 8px;
                height: 8px;
            }
        }
    }
    p {
        margin: 40px 0 0 0;
        max-width: 750px;
        width: 100%;
        @media screen and (max-width: $mobile) {
            margin: 32px 0 0 0;
        }
    }
    &--center {
        h2 {
            flex-direction: column-reverse;
            text-align: center;
            &::after {
                margin: 0 auto 24px auto;
            }
        }
        p {
            text-align: center;
            margin: 40px auto 0 auto;
            @media screen and (max-width: $mobile) {
                margin: 32px auto 0 auto;
            }
        }
    }
}

.politica-privacidade {
    &__banner {
        background: $yellow;
        padding: 64px 0;
        position: relative;
        @media screen and (max-width: $mobile) {
            padding: 40px 0
        }
        h1 {
            text-align: center;
        }
    }
    &__content {
        margin: 64px 0 0 0;
        @media screen and (max-width: $mobile) {
            margin: 40px 0 0 0;
        }
        .container {
            max-width: 750px;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0 0 32px 0;
            @media screen and (max-width: $mobile) {
                margin: 0 0 24px 0;
            }
        }
        p {
            &:not(:last-of-type) {
                margin: 0 0 32px 0;
                @media screen and (max-width: $mobile) {
                    margin: 0 0 24px 0;
                }
            }
        }
        img {
            width: 100%;
        }
        figure {
            display: block;
            margin: 40px 0;
            @media screen and (max-width: $mobile) {
                margin: 32px 0;
            }
            img {
                width: 100%;
            }
            figcaption {
                font: 300 15px/140% $font;
                text-align: center;
                margin: 24px 0 0 0;
                @media screen and (max-width: $mobile) {
                    margin: 16px 0 0 0;
                }
            }
        }
        ol,
        ul {
            margin: 0 0 40px 0;
            li {
                &:not(:last-of-type) {
                    margin: 0 0 8px 0;
                }
            }
        }
        ul {
            li {
                position: relative;
                &::before {
                    content: "";
                    min-width: 6px;
                    height: 6px;
                    background: $yellow;
                    border-radius: 1000px;
                    position: absolute;
                    top: 9px;
                    left: 0;
                }
                p {
                    padding: 0 0 0 calc(16px + 6px);
                }
            }
        }
        ol {
            padding: 0 0 0 20px;
            li {
                list-style: decimal;
                padding: 0;
            }
        }
    }
}

.pagination {
    margin: 32px 0 0 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            font: 600 18px/1 $font;
            color: $grey;
            transition: 400ms ease;
            &.active,
            &:hover {
                color: $black;
            }
            &:not(:last-of-type) {
                margin: 0 24px 0 0;
            }
        }
    }
}

.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .5);
    transition: 400ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    &.open {
        opacity: 1;
        visibility: visible;
    }
    .container {
        max-width: 600px;
        * {
            text-align: center;
        }
        div {
            padding: 64px 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $white;
            border-radius: 32px;
            box-shadow: 0 0 64px rgba(0, 0, 0, .16);
            h3 {
                max-width: 310px;
                width: 100%;
                margin: 0 auto;
            }
            p {
                margin: 16px 0 32px 0;
            }
        }
    }
}

.produtos-carrossel {
    padding: 144px 0 0 0;
    @media screen and (max-width: $mobile) {
        padding: 80px 0 0 0;
    }
    .container {
        & > .link {
            display: none;
            @media screen and (max-width: $mobile) {
                display: flex;
                justify-content: center;
                margin: 32px 0 0 0;
            }
        }
    }
    &__header {
        margin: 0 0 48px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $mobile) {
            margin: 0 0 32px 0;
        }
        .title-sec {
            margin: 0;
        }
        .link {
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
    }
    &__container {
        position: relative;
        @media screen and (max-width: $mobile) {
            width: calc(100% + 40px);
            margin-left: -20px;
        }
        .swiper {
            .swiper-slide {
                padding: 0 0 0 1px;
                @media screen and (max-width: $mobile) {
                    max-width: 300px;
                    width: 100%;
                }
            }
        }
        [data-prev],
        [data-next] {
            z-index: 5;
            position: absolute;
            top: 136px;  
            transition: 400ms ease;
            @media screen and (max-width: $mobile) {
                display: none;
            }
            &.swiper-button-disabled {
                opacity: 0;
                visibility: hidden;
            }
        }
        [data-prev] {
            transform: translateX(-50%);
            left: 0;
        }
        [data-next] {
            transform: translateX(50%);
            right: 0;
        }
    }
}

.link {
    font: 700 16px/1 $font;
    display: flex;
    align-items: center;
    &:hover {
        &::after {
            transform: translateX(4px);
        }
    }
    &::after {
        content: url("../assets/arrow-link.svg");
        margin: 0 0 0 12px;
        height: 24px;
        transition: 400ms ease;
    }
}

.header-sec {
    margin: 0 0 40px 0;
    @media screen and (max-width: $mobile) {
        margin: 0 0 32px 0;
    }
    * {
        text-align: center;
    }
    h6 {
        text-transform: uppercase;
        font-weight: 500;
        margin: 0 0 12px 0;
        letter-spacing: 0.16em;
    }
    h2,
    h1 {
        text-transform: uppercase;
    }
    p {
        margin: 12px 0 0 0;
    }
    &--left {
        * {
            text-align: left;
        }
    }
    &--white {
        * {
            color: $white;
        }
    }
}

.lojas {
    padding: 144px 0 0 0 ;
    @media screen and (max-width: $mobile) {
        padding: 80px 0 0 0;
    }
    .container {
        section {
            display: flex;
            flex-wrap: wrap;
            gap: 64px 24px;
            margin: 80px 0 0 0;
            @media screen and (max-width: $mobile) {
                margin: 64px 0 0 0;
            }
            article {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid $light-grey;
                border-radius: 16px;
                padding: 0 32px 32px 32px;
                * {
                    text-align: center;
                }
                &:not(:first-of-type) {
                    width: calc(50% - 12px);
                    @media screen and (max-width: $mobile) {
                        width: 100%;
                    }
                }
                img {
                    margin: -32px auto 0 auto;
                }
                h3 {
                    text-transform: uppercase;
                    font: 700 28px/1 $font;
                    margin: 32px 0 0 0;
                }
                h6 {
                    font: 300 18px/170% $font;
                    margin: 16px 0 12px 0;
                }
                p {
                    &:not(:last-of-type) {
                        margin: 0 0 8px 0;
                    }
                    strong {
                        font-weight: 600;
                    }
                }
            }
        }
        footer {
            margin: 40px 0 0 0;
            display: flex;
            align-items: flex-start;
            gap: 24px;
            @media screen and (max-width: $mobile) {
                flex-direction: column;
                gap: 12px;
                margin: 32px 0 0 0;
            }
            p {
                flex: 1;
                width: 100%;
                @media screen and (max-width: $mobile) {
                    text-align: center;
                }
                strong {
                    display: block;
                }
            }
        }
    }
}

.modal-foto {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms ease;
    opacity: 0;
    visibility: hidden;
    &.open {
        opacity: 1;
        visibility: visible;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        article {
            position: relative;
            max-height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                color: $white;
                position: absolute;
                top: -16px;
                right: 20px;
                transform: translate(100%, -100%);
                font: 400 32px/1 $font;
                transition: 400ms ease;
                @media screen and (max-width: $mobile) {
                    font-size: 24px;
                }
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

.btn-whatsapp {
    position: fixed;
    top: 600px;
    right: 20px;
    z-index: 9;
    border-radius: 1000px;
    box-shadow: 0px 8px 32px rgba(32, 161, 19, 0.32);
    @media screen and (max-width: $mobile) {
        top: unset;
        bottom: 20px;
    }
}

.banner {
    border-bottom: 4px solid $yellow;
    padding: 80px 0;
    @media screen and (max-width: $mobile) {
        padding: 64px 0;
    }
    * {
        color: $white;
    }
}

.card-produto {
    max-width: 360px;
    width: 100%;
    &:hover {
        footer {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
    & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 320px;
        border: 1px solid $light-grey;
        border-radius: 16px;
        margin: 0 0 20px 0;
        padding: 30px;
        header {
            display: flex;
            align-items: center;
            position: absolute;
            top: 20px;
            right: 20px;
            span {
                text-transform: uppercase;
                border-radius: 1000px;
                display: flex;
                padding: 6px 12px;
                align-items: center;
                font: 700 14px/1 $font;
                &:not(:last-of-type) {
                    margin: 0 16px 0 0;
                }
                img {
                    margin: 0 12px 0 0;
                }
                &.frete {
                    background: $yellow;
                }
                &.cupom {
                    color: $white;
                    background: $black;
                }
            }
        }
        img {
            max-height: 100%;
        }
    }
    h1 {
        font: 400 32px/140% $font;
        margin: 0 0 16px 0;
        a {
            display: block;
            text-transform: initial;
        }
    }
    h2 {
        margin: 0 0 16px 0;
        font: 400 18px/140% $font;
        a {
            display: block;
            text-transform: initial;
            text-align: center;
        }
    }
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
            font-size: 18px;
            strong {
                font-weight: 800;
            }
            &:first-of-type {
                margin: 0 8px 0 0;
                position: relative;
                color: $grey;
                font-weight: 300;
                &::before {
                    content: "";
                    width: calc(100% + 4px);
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-4deg);
                    background: $grey;
                }
            }
        }
    }
    h6 {
        margin: 10px 0 0 0;
        font: 300 14px/1 $font;
        text-align: center;
    }
    footer {
        display: flex;
        align-items: center;
        margin: 24px 0 0 0;
        transition: 300ms ease;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        button {
            position: relative;
            padding: 0;
            margin: 0 auto;
            padding: 0 16px;
            width: 100%;
            @media screen and (max-width: $mobile) {
                padding: 0;
            }
            &::after {
                content: url("../assets/bag.svg");
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 1px solid rgba(0, 0, 0, .1);
                padding: 0 0 0 12px;
                margin: 0 0 0 12px;
                @media screen and (max-width: $mobile) {
                    display: none;
                }
            }
        }
        input {
            font-size: 16px;
            min-width: 75px;
            max-width: 75px;
            padding: 0 8px;
            margin: 0 0 0 16px;
            text-align: center;
            @media screen and (max-width: $mobile) {
                max-width: 64px;
                margin: 0 0 0 8px;
                min-width: 64px;
            }
            &::-webkit-inner-spin-button {
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: $mobile) {
        footer {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

.banner-intra {
    background: $black;
    position: relative;
    padding: 80px 0 0 0;
    border-bottom: 4px solid $yellow;
    min-height: 375px;
    z-index: 1;
    &::before {
        content: "";
        background: url("../assets/graph-center.svg") center/contain no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @media screen and (max-width: $mobile) {
            display: none;
        }
    }
    .container {
        position: relative;
        z-index: 5;
        .header-sec {
            position: relative;
            a {
                position: absolute;
                left: 0;
                top: 4px;
                display: flex;
                align-items: center;
                font: 600 16px/1 $font;
                @media screen and (max-width: $mobile) {
                    top: -56px;
                }
                &::before {
                    content: url("../assets/arrow-back.svg");
                    margin: 0 8px 0 0;
                }
            }
            h6 {
                font-weight: 400;
                letter-spacing: 0;
            }
        }
        p {
            margin: -24px 0 0 0;
            strong {
                font-weight: 600;
                &.cancelado {
                    color: #F42F1A;
                }
                &.finalizado {
                    color: #26CA67;
                }
            }
        }
        section {
            margin: 40px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $mobile) {
                margin: 32px 0 0 0;
            }
            a {
                font: 700 24px/1 $font;
                text-transform: uppercase;
                opacity: .5;
                transition: 400ms ease;
                display: flex;
                align-items: center;
                @media screen and (max-width: $mobile) {
                    font-size: 18px;
                }
                &::after {
                    content: "";
                    border-radius: 1000px;
                    width: 12px;
                    height: 12px;
                    margin: 0 0 0 16px;
                    display: block;
                    background: $white;
                    @media screen and (max-width: $mobile) {
                        width: 6px;
                        height: 6px;
                        margin: 0 0 0 12px;
                    }
                }
                &:not(:last-of-type) {
                    margin: 0 40px 0 0;
                    @media screen and (max-width: $mobile) {
                        margin: 0 16px 0 0;
                    }
                }
                &:hover {
                    opacity: 1;
                }
                &.active {
                    opacity: 1;
                    &::after {
                        background: $yellow;
                    }
                }
            }
        }
    }
    * {
        text-align: center;
        color: $white;
    }
}